@import"header.css";
@import"root.css";
@import"bodyEhtml.css";
@import"secao-fixa1.css";
@import"secao2-opcoes.css";
@import"secao-3-paises.css";
@import"secaoDoscustos.css";
@import"habilidades.css";