/*SEÇÃO 2 DOS MENUS*/
#menu-opcoes {
    margin: 25px 0px;
}

/*CONTAINER DAS ABAS (ARTICLE)*/
.container-abas {
    padding: 10px;
   text-align: center;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 20px;
}

/*DIVS COMA AS ABAS*/
.abas,#abas-plano-de-estudo {
    padding: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 6px; 
}

/*DIV PLANO DE ESTUDO*/
#abas-plano-de-estudo {
    min-width: 188px;
}


/*IMAGEMS DAS ABAS*/
.abas > img {
    width: 26px;
    margin-right: 5px;
}

/*PARAGRAFO DAS ABAS*/
.abas > p {
    margin-bottom: 0px;
    font-family: var(--fonte-inter);
    color: var(--cor-dos-textos);
}

#abas-plano-de-estudo > p {
    margin-bottom: 0px;
    font-family: var(--fonte-inter);
    color: var(--cor-dos-textos);
}


/*QUANDO A DIV RECEBER O EVENTO EU VOU ATIVAR ESSA CLASSE*/
.ativo {
    background-color: var(--cor-azul-primaria);
}