#secao-dos-custos {
     display: none;
}

/**/
#secao-dos-custos {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


/* CONTAINER MAE DAS DIVS*/     /*ESSA CLASSE É DOS CARDS SE É ACESSIVEL OU NÃO*/
.container-mae-dos-custos,.container-mae-dos-cards-acessivel {
    width: 90%;
    padding: 10px;
    background-color: var(--cor-dos-cards);
    border-radius: 10px;
}


/*DIV COM O TITULO*/
.comparativo-text-esplicativo > h2 {
    font-size: 21px;
    color: var(--cor-dos-textos);
    font-family: var(--fonte-inter);
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*DIV COM O PARAGRAFO TEXTO */
.comparativo-text-esplicativo > p {
    color: var(--cor-cinza);
    font-family: var(--fonte-inter);
    margin-bottom: 20px;
}


/*DIVS COM O NOME DO PAIS VALOR DO CUSTO E O E A BARRA GRESSO*/
.comparativo-barra-progresso {
    width: 100%;
    margin-bottom: 30px;
    
}


/*DIV COM O NOME DO PAIS E O VALOR DO CUSTO*/
.nome-do-pais-e-valor-do-euro {
    display: flex;
    gap: 30%;
}


/*NOME DO PAIS E O VALOR DO CUSTO */ 
.nome-do-pais-e-valor-do-euro > h3,p {
    font-family: var(--fonte-inter);
    margin-bottom: 10px;
}


/*NOME DO PAIS */ 
.nome-do-pais-e-valor-do-euro > h3 {
    font-weight: 600;
    color: var(--cor-dos-textos);

}


/*PREÇO DO PAIS */ 
.nome-do-pais-e-valor-do-euro > p {
    position: absolute;
    left: 70%;
    font-weight: 600;
    color: var(--cor-azul-primaria);
}


/*BARRA DE PROGRESSO*/
/* Remove a aparência padrão */
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 13px;
}


/* Cor do fundo (container) */
progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}


/* Cor do preenchimento (progresso) */
progress::-webkit-progress-value {
  background-color: var(--cor-azul-primaria); 
  border-radius: 10px;
  transition: width 0.3s ease; 
}


/* Para Firefox */
progress::-moz-progress-bar {
    background-color: var(--cor-azul-primaria);
}


/*CONTAINER DOS CARDS ACESSIVEIS*/
.container-mae-dos-cards-acessivel {
    margin-top: 25px;
    margin-bottom: 20px;
}


/*IMAGEM DO SPAN*/
.container-mae-dos-cards-acessivel > span {
    font-size: 35px;
}

.container-mae-dos-cards-acessivel > p {
    color: var(--cor-cinza);
    font-family: var(--fonte-inter);
    margin-top: 20px;
}

/**/
.container-mae-dos-cards-acessivel > h4 {
    color: var(--cor-dos-textos);
    font-family: var(--fonte-inter);
    font-size: 20px;
    font-weight: 600;
}