/*SEÇÃO 3 DOS PAISES*/
#secao-paises {
   display: none;
}

/*CONTAINER DOS PAISES*/
.container-paises {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/*CARDS DOS PAISES*/
.card-paises {
    padding: 10px;
    width: 95%;
    background-color: var(--cor-dos-cards);
    display: flex;
    align-items: center;
    border-radius: 7px;
    gap: 20px;
}

/*IMAGEM DOS CARDRS*/
.card-paises > img {
    width: 60px;
}

/*DIV AONDE ESTA O TEXTO*/
.card-text {
    width: 100%;
    margin-right: 120px;
}

/*TITULO*/
.card-text > h2{ 
    font-size: 21px;
    width: 120%;
    color: var(--cor-dos-textos);
    font-family: var(--fonte-inter);
    font-weight: bold;
    margin-bottom: 15px;
}


/*PARAGRAFO*/
.card-text > p {
    color: var(--cor-cinza);
    font-family: var(--fonte-inter);
    font-size: 15px;
    font-weight: 600;
}

/*SETA*/
.material-symbols-outlined {
    color:  var(--cor-cinza);
}

/*ARTICLE DESCRIÇÃO DOS PAISES*/
.descrição-dos-paises {
    margin: 25px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor-dos-cards);
}



/*DIV COM A IMAGEM E O TEXTO*/
.img-dos-paises {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}


/*IMAGEM DA BANDEIRA*/
.img-dos-paises > img {
    width: 100px;
    height: 100px;
}


/*NOME DO PAÍS*/
.lado-direito-textos > h2 {
    font-family: var(--fonte-inter);
    font-weight: bold;
    font-size: 28px;
    color: var(--cor-dos-textos);
    margin-bottom: 15px;
}


/*PARAGRAFO*/ 
.lado-direito-textos > p {
    font-family: var(--fonte-inter);
    color: var(--cor-cinza);
    font-size: 20px;
}


/*DIV COM OS CARDS*/
.container-dos-cards-informacao {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/*CARDS COM AS INFORMAÇÕES*/
.card-informacao {
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor-dos-segundos-cards);
}


/*DIV COM O TITULO DO CARD E A IMAGEM*/
.card-icone-e-texto {
    display: flex;
    gap: 10px;
    margin-bottom: 10px
}   


/*IMAGEM DO ICONE*/
.card-icone-e-texto > img {
    width: 20px;
    height: 20px;
}

/*TITULO DO CARD*/
.card-icone-e-texto > h3 {
    color: var(--cor-cinza);
    
    font-family: var(--fonte-inter);
    font-weight: 500;
    margin-bottom: 10px;
}


/*PARAGRAFO DO CARD INFORMÇÃO*/
.card-informacao > p{
    text-align: center;
    color: var(--cor-dos-textos);
    font-family: var(--fonte-inter);
    font-weight: bold;
}


/*NIVEL DE INGLES EXIGIDO*/
.container-nivel-de-ingles {
    padding: 10px;
    margin: 20px 0px;
}


/*TITULO*/
.container-nivel-de-ingles > h3 {
    color: var(--cor-cinza);
    font-family: var(--fonte-inter);
    font-weight: bold;
    margin-bottom: 20px;
}


/*DIV COM O NIVEL DE INGLES EXIGIDO*/
.nivel-de-ingles-text  {
    text-align: center;
    background-color: #ca8b045b;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
}


/*PARAGRAFO COM O NIVEL DE INGLES*/
.nivel-de-ingles-text > p {
    font-family: var(--fonte-inter);
    font-weight: bold;
    color: var(--cor-amarelo);
    margin: auto;
}



/*HABILIDADES*/
.container-mae-das-habilidades {
    margin-bottom: 20px;
}


/*DIV COM AS OUTRAS DIVS*/
.container-das-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


/*TITULO (HABILIDADES)*/
.container-mae-das-habilidades > h3  {
    color: var(--cor-cinza);
    font-family: var(--fonte-inter);
    font-weight: bold;
}


/*DIV COM AS HABILIDADES*/
.container-das-habilidades {
    display: flex;
    align-items: center;
    gap: 10px;
}


/*DIV COM O PARAGRAFO DO MEIO*/
.habilidade {
    border-radius: 25px;
    padding: 5px 15px;
    background-color: var(--cor-dos-segundos-cards);
    margin-top: 20px;
}


/*PARAGRAFO DA HABILIDADE*/
.habilidade > p {
    color: var(--cor-dos-textos);
    font-family: var(--fonte-inter);
    font-weight: bold;
    font-size: 15px;
    margin: auto;
}


/*DIV COM IDIOMA PRINCIPAL*/
.container-idioma-princial {
    margin: 20px 0px;
}


/*TITULO DO IDIOMA PRINCIPAL*/
.container-idioma-princial > h3 {
    color: var(--cor-cinza);
    font-family: var(--fonte-inter);
    margin-bottom: 10px;
}


/*PARAGRAFO DO IDIOMA PRINCIPAL*/
.container-idioma-princial > p {
    font-family: var(--fonte-inter);
    color: var(--cor-dos-textos);
    font-weight: bold;
}


/*CARDS COM DISPLAY NONE*/
#pais-portugual,#pais-canada,#pais-estados-unidos,#pais-alemanha,#pais-australia,#pais-holanda,#pais-irlanda,#pais-nova-zelandia {
    display: none;
}    

/*DESTAQUE*/
.classeDestaque {
    border: 1px solid var(--cor-azul-para-hover);
}